<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>
			Quiz
		</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/font-awesome.min.css">
	</head>

	<body>
		<div class="wrapper">
			<div class="main_page">
				<div class="main_container">
					<div class="logo">
						<div class="logo_box">
							<img src="images/logo.png" alt="">
						</div>
					</div>
					<div class="quiq_frame">
						<div class="quiz_heading">
							<h2>Welcome to Quiz</h2>
						</div>
						<div class="quiz_option">
							<a class="take_quiz_btn" href="/admin/checkResponse">Check Responses</a>
							<a class="take_quiz_btn" href="/admin/addQuestion">ADD Questions</a>
							<a class="take_quiz_btn" href="/admin/marks">Check Marks</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
